@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
.Header {
    color: black;
    background-color: #FFC75F;
    height: 4em;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #f6f6f6;
    line-height: 3em;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.3em;
}

.Header button {
    width: 10em;
    border-radius: 0.5em;
    background-color: darkseagreen;
    font-size: 1.2em;
}

.Line {
    height: 2px;
    width: 100%;
    background-color: #E7B355;
}

.logoutContainer {
    height: 200px;
    padding: 50px;
    background-color: #FFC75F;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoutContainer button {
    margin-top: 20px;
    width: 10em;
    border-radius: 0.5em;
    background-color: indianred;
    font-size: 1.2em;
    line-height: 3em;
}

.lastTranslationsContainer {
    height: auto;
    background-color: white;
    color: #E7B355;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    border-radius: 1em;

}

.lastTranslationsContainer ul {
    list-style-type: none;
}

.lastTranslationsContainer li {
    margin-top: 10px;
    font-size: 1.2em;
}