@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
.Header {
    color: black;
    background-color: #FFC75F;
    height: 4em;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #f6f6f6;
    line-height: 3em;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.3em;
}

.Header button {
    width: 10em;
    border-radius: 0.5em;
    background-color: darkseagreen;
    font-size: 1.2em;
}

.Line {
    height: 2px;
    width: 100%;
    background-color: #E7B355;
}

.SearchBar {
    background-color: #FFC75F;
    height: 10em;
    padding: 50px 12%;
}

.SearchBar p {
    height: 20px;
    text-align: center;
    margin-top: 5px;
    color: red;
}

.TranslationContainer {
    position: relative;
    height: 400px;
    width: 800px;
    margin-top: 50px;
    margin-left: 150px;
    border: 10px black;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    overflow: hidden;

}

.Translations {
    margin: 20px;
}

.spanContainer {
    height: 100px;
    background-color: #845EC2;
    position: absolute;
    top: 350px;
    width: 800px;
}

.spanContainer span {
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 1em;
    position: relative;
    left: 10px;
    top: 15px;
}


.Form {
    display:flex;
    flex-direction:row;
    border:2px solid #969696;
    padding:4px;
    border-radius: 2em;
    align-items: center;
    width: 810px;
    background-color: #EFEFEF;

}

.Form span {
    background-image: url("../../assets/keyboard.png");
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    background-size: cover;
}

.Form input {
    width: 700px;
    font-size: 1.2em;
    border:none;
    background-color: #EFEFEF;
    border-left: 2px solid black;
    padding-left: 10px;
}

.Form button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-image: url("../../assets/arrow_forward-black-18dp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #845EC2;

}