@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
.Header {
    color: black;
    background-color: #FFC75F;
    height: 4em;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #f6f6f6;
    line-height: 3em;
    padding: 10px 150px;
    display: flex;
    letter-spacing: 0.3em;
}

.Line {
    height: 2px;
    width: 100%;
    background-color: #E7B355;
}

.LoginContainer {
    height: 400px;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #f6f6f6;
    background-color: #FFC75F;
    display: flex;
    padding: 20px;
}

.logoContainer {
    background-image: url("../../assets/Splash.svg");
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    margin-left: 80px;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 120px;
}

.logoTextContainer {
    flex-grow: 2;
    letter-spacing: 0.3em;
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 50px;
}

.logoContainer img {
    width: 10em;
    margin: 20px;
    position: relative;
}

.SearchBar {
    position: absolute;
    background-color: white;
    height: 200px;
    padding-top: 2em;
    border-radius: 1em;
    border: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    width: 800px;
    top: 400px;
    margin-left: 150px;
    overflow: hidden;
}

.SearchBar p {
    height: 20px;
    text-align: center;
    margin-top: 5px;
    color: red;
}

.purpleBar {
    height: 3em;
    background-color: #845EC2;
    position: relative;
    top: 55px;
}

.Form {
    display:flex;
    flex-direction:row;
    border:2px solid #969696;
    padding:4px;
    border-radius: 2em;
    align-items: center;
    width: 90%;
    background-color: #EFEFEF;
    margin-left: 2.5em;

}

.Form span {
    background-image: url("../../assets/keyboard.png");
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    background-size: cover;
}

.Form input {
    flex-grow:2;
    font-size: 1.2em;
    border:none;
    background-color: #EFEFEF;
    border-left: 2px solid black;
    padding-left: 10px;
}

.Form button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-image: url("../../assets/arrow_forward-black-18dp.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #845EC2;

}