* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 800px;
    margin: 50px 20%;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

